

  <div class="image-wrapper">
    <p class="background">WHATS THAT IMAGE?</p>
  </div>

  <div class="Wrapper">
    <div class="img-section">
    <% @pictures.each do |picture| %>

    <a href="/pictures/<%= picture.id %>"><img src="<%= picture.image_file %>" alt=""></a> 

    
    <% end %>

    </div>
  </div>




