<section class="login-body">
  <h1 class="login-heading">Login</h1>
  <section class="Wrapper">
    <div class="login-section">
      <form action="/sessions" method="post">
        <label for="">username</label>
        <input type="text" name="username">
        <label for="">password</label>
        <input type="password" name="password">
        <div class="login-b">
        <button class="btn btn-primary">login</button>
        </div>
      </form>
    </div>
  </section>
</section>