<h1 class="new-heading">Post New Picture</h1>

<div class="i-uploader">
  <form action="/pictures" method="post" enctype="multipart/form-data">
    <input class="choose-file" type="file" name="image_file" />
    <div class="new-question">
    <label for="">Question?</label>
    <input class="input-box" type="text" name="body">
    </div>
    <div class="new-button">
      <button class="btn btn-success">upload</button>
    </div>
  </form>
</div>

