<h1 class="h-signup">Sign Up</h1>

<div class="signup-wrapper">
  <form action="/users" method="post">
    <label for="">Username</label>
    <input type="text" name="username">
    <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
    </div>
    <button class="btn btn-primary">create</button>
  </form>
</div>